<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carder</title>
  <link rel="stylesheet" href="/stylesheets/iframe1.css"/>
</head>
<body>
  <div id="card">
    <div id="imageSlide">
      <%if(images.length >1){%>
      <a href="javascript:void(0)" class="before iconfont">&#xe61b;</a>
      <%}%>
      <div id="imgList">
        <%images.forEach(function(img,index){%>
        <%if(index == 0){%>
        <div  class="eachImg" style="background-image: url(<%= img%>);" ></div>
        <%}else{%>
        <div class="eachImg show" style="background-image: url(<%= img%>);" ></div>
        <%}%>
        <%}) %>
      </div>
      <%if(images.length >1){%>
      <a href="javascript:void(0)" class="after iconfont">&#xe615;</a>
      <%}%>
    </div>

    <a class="title" href="<%= url%>"><%= title%></a>
    <p class="content"><%=paragraph%></p>
  </div>
</body>
</html>